:root:not(:has(#blind-mode:checked)) {
    * {
        background-color: black;
    }

    select, button, input {
        border: 1px solid black;
    }

    input[type="checkbox"]:not(#blind-mode) {
        appearance: none;
        background-color: black;
    }

    a {
        color: black;
    }

    #dark-mode {
        opacity: 0;
        height: 0;
        width: 0;
        margin: 0;
    }
}




:root:not(:has(#blind-mode:checked)) #blind-mode-group {
    background-color: white;
    

    label {
        background-color: white;
    }
}

#blind-mode-group {
    width: max-content;
    padding: 1rem;
    border-radius: 3rem;
}

.hidden {
    display: none;
}

